@charset "UTF-8";
/*
Paleta de cores
verde: #49a09d
Lilás: #5f2c82
*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;/*Borda faz parte*/
}
body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    
    background-color: white;
    width: 250px;
    height: 515px ;/* ALTURA */
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    overflow: hidden; /* o que estiver fora da borda */
    
    transform: translate(-50%, -50%);/*metade vai para direita e metade para a esquerda...ficando sempre no meio da tela */
    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease; /* Suaviza a animação da transição */
    
}
section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/abstrato.jpg)no-repeat ;
    box-sizing: cover;
    background-position:  left top ;
    height: 200px;
}
section#login > div#formulario {
    display: block;
    padding: 10px;
    
}
section#login > div#formulario {
    float: left;
    width: 100%;
}
div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p {
    font-size: 0.8em;
    text-align: justify; 
    margin: 10px 0px;
    
}
form > div.campo {
    background-color: #5f2c82;
    border: 4px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 4px 0px;
}
div.campo > label{/* DESAPARECE AS PALAVRAS LOGIN E SENHA - TAG LABEL */
    display: none;
}
div.campo > span{
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 40px;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 2px;
    
}
div.campo > input {
    background-color: #a7f8f6 ;
    font-size: 1em;
    width:calc(100% - 44px);/*ajusta a largura */
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    margin: 0px 45px;
    transform: translateY(-44px);/*faz subir */
}
div.campo > input:focus-within{
    background-color: white;/*Deixa o campo do formulário (input) branco qdo vou digitar */
}
/*BOTÃO */
form > input[type= submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type= submit]:hover{
    background-color: #0e2827;
}
form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none; /* tira o sublinhado de links */
    color: #0e2827;
}
form > a.botao:hover {
    background-color:#49a09d ;
}
form > a > span {
    font-size: 00.8em;
}
